.popWrap {
  display: none;
  width: 400px;
  margin: 60px auto 20px auto;
}
.popWrap .popSubmitBtn {
  text-align: center;
  padding-top: 5px;
}
.centerBtnWrap {
  padding: 20px 0;
}
.notice {
  font-size: 18px;
}
.describe {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}
.hisMsgUl {
  margin: 20px 0;
  font-size: 14px;
}
.hisMsgUl li {
  margin-bottom: 15px;
}
.hisMsgUl .userLogo {
  width: 40px;
}
.hisMsgUl .userLogo img {
  border-radius: 50%;
}
.hisMsgUl .rightMsg {
  margin-left: 10px;
  width: 95%;
}
.hisMsgUl .rightMsg > div {
  line-height: 20px;
}
.clientPop {
  display: none;
  width: 500px;
  margin: 20px auto;
}
.logText {
  font-size: 16px;
  padding: 10px 0;
}
.logUl li {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 15px;
}
.logUl .backMsg {
  padding: 10px 0;
}
.editRoleWrap {
  min-width: 900px;
}
.powerListUl > li {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 15px;
}
.powerListUl .basePower {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.powerListUl .powerName {
  font-size: 14px;
  padding-bottom: 5px;
}
.powerListUl .otherPower {
  padding-top: 10px;
}
.powerListUl .subPower {
  padding-left: 15px;
}
.projectWrap {
  padding: 10px 0 20px 0;
  font-size: 14px;
}
.projectWrap > a {
  margin-left: 30px;
  color: #1E9FFF;
}
.projectWrap > a:hover {
  opacity: 0.8;
}
.popModel {
  width: 500px;
  margin: 50px auto 20px auto;
}
.newModelWrap {
  text-align: center;
}
.proDetailWrap {
  width: 750px;
  margin: 0 auto;
}
.formTab,
.showTab {
  width: 750px;
}
.formTab {
  margin-right: 20px;
}
.formInner {
  max-width: 640px;
}
.uploadImgWrap {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  cursor: pointer;
}
.uploadImgWrap .uploadBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  z-index: 20;
  background: none;
  opacity: 0;
}
.uploadImgWrap .imgHome {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  z-index: 10;
}
.uploadImgWrap .imgHome img {
  width:60px;
  height: 60px;
}

.editBtns {
  width: 100px;
}
.toppart {
  background-color: #eee;
}
.toppart .righttext {
  padding-left: 20px;
  padding-top: 25px;
}
.toppart .bottomBtns {
  margin-top: 10px;
}
.toppart .bottomBtns a {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.bottomnotice {
  margin-top: 20px;
}
.bottomnotice .warmnotice {
  font-size: 14px;
}
.bottomnotice .noticetext {
  font-size: 20px;
  padding: 15px 0;
}
.bottomnotice .noticeitem p {
  line-height: 25px;
}
/*小程序授权页面*/
.powerwrap {
  width: 700px;
}
.tabbtnwrap {
  background-color: #e2e2e2;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.tabbtnwrap li {
  float: left;
  width: 233px;
  text-align: center;
}
.tabbtnwrap li.on {
  background-color: #fff;
}
.tabbtnwrap li > a {
  display: block;
  padding: 10px;
  color: #333;
}
.tabbtnwrap li > a:hover {
  color: #333;
}
.tabcontentwrap {
  border: 1px solid #e2e2e2;
  border-top: none;
  padding: 10px 15px;
}
.bottomnotice .warmnotice {
  font-size: 14px;
}
.bottomnotice .noticetext {
  font-size: 20px;
  padding: 15px 0;
}
.bottomnotice .noticeitem p {
  line-height: 25px;
}
.bottombtn {
  text-align: center;
  padding: 25px 0 20px 0;
}
.bottombtn button {
  margin-left: 0;
}
.bottombtn .spacibtn {
  height: 30px!important;
}
.part2 {
  display: none;
}
.part2 .tips {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.part2 .backmessage {
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  font-size: 16px;
  text-align: center;
}
.part2 .settingwrap {
  width: 230px;
  padding-left: 10px;
  margin: 20px auto;
}
.part2 .settingwrapul {
  border-left: 2px solid #bfbfbf;
}
.part2 .settingwrapul li {
  margin-top: 20px;
  font-size: 14px;
  margin-left: -12px;
}
.part2 .settingwrapul li .number {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  background-color: #bfbfbf;
}
.part2 .settingwrapul li .name {
  margin-left: 10px;
}
.part2 .settingwrapul li a {
  color: #1E9FFF;
  margin-left: 10px;
}
.part2 .settingwrapul li a:hover {
  color: #1E9FFF;
}
.part2 .settingwrapul .success {
  color: #009688;
}
.part2 .settingwrapul .success .number {
  background-color: #009688;
}
.part2 .settingwrapul .fail {
  color: #fe161b;
}
.part2 .settingwrapul .fail .number {
  background-color: #fe161b;
}
.part2 .backtext {
  color: #fe161b;
  text-align: left;
  padding: 10px 0;
  margin-left: 50px;
  margin-right: 50px;
}

.erweimawrap img {
  width: 258px;
  height: 258px;
}
.erweimawrap {
  /* width: 144px; */
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0 3px 20px #d2d2d2;
}
.part3 {
  display: none;
}
.part3 .uploadmsg {
  border: 1px solid #e2e2e2;
  width: 500px;
  margin: 20px auto 0 auto;
}
.part3 .uploadmsg li {
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #e2e2e2;
}
.part3 .uploadmsg li:first-child {
  border-top: none;
}
.part4 {
  display: none;
}
.part4 .erweimawrapul {
  text-align: center;
  padding-top: 20px;
}
.part4 .erweimawrapul li {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}
.part4 .erweimawrapul li:first-child {
  margin-left: 0;
}
.part4 .erweimawrapul li p {
  font-size: 14px;
}
/*抽奖预览页面*/
.contentinner {
  width: 343px;
  height: 603px;
  margin: 20px auto;
  padding: 88px 23px;
  background: url(../images/iphone6.png) center top no-repeat;
}
.paddinginner {
  width: 100%;
  height: 100%;
}
.blackbg {
  background-image: url(../images/blackbg.png), url(../images/activebg.jpg);
  background-position: top left,center top;
  background-repeat: repeat, no-repeat;
}
.tabindex {
  position: relative;
  background: url(../images/activebg.jpg) center top no-repeat;
}
.prizetip {
  position: absolute;
  right: 10px;
  top: 30px;
}
.prizetipimg {
  width: 80px;
  height: 80px;
}
.activename {
  text-align: center;
  color: #fff;
  padding: 10px 0 10px 0;
  font-size: 16px;
}
.prizetime {
  text-align: center;
  line-height: 25px;
  margin-top: 10px;
  font-size: 14px;
  color: #FFEE4E;
}
.prizetime span {
  color: red;
}
.prizemsg {
  line-height: 30px;
  margin-top: 15px;
  color: #FFEE4E;
  padding: 0 10px;
}
.prizepart {
  width: 300px;
  height: 306px;
  margin: 20px auto 30px auto;
  background: url(../images/prizewarpbg.png) center center no-repeat;
  background-size: cover;
}
.prizeinner {
  padding: 20px;
}
.priceitem {
  width: 75px;
  height: 75px;
  margin-left: 8px;
  margin-top: 8px;
  background: url(../images/prizebg.png) center center no-repeat;
  background-size: cover;
}
.priceitem .itemimg {
  width: 75px;
  height: 75px;
}
.colorred {
  color: red;
  font-size: 16px;
}
.times,
.share {
  text-align: center;
  line-height: 30px;
  color: #FFEE4E;
}
.times span {
  padding: 0 5px;
}
.deswrap {
  padding: 20px;
}
.desli {
  margin-bottom: 10px;
}
.desli p {
  background-color: #eee;
  line-height: 35px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.desli span {
  padding: 10px;
}
.prizeul {
  padding: 20px 10px;
}
.prizeul li {
  border: 1px solid #eee;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.prizeul li div:first-child {
  margin-bottom: 5px;
}
.prizeul li span {
  font-weight: bold;
}
.noprize {
  line-height: 25px;
  padding-top: 100px;
  text-align: center;
}
.prizewrap {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
.prizewrap .toptext {
  line-height: 25px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
.prizewrap .centertext {
  line-height: 30px;
  font-size: 16px;
  color: red;
}
.pricenotice {
  color: #fff;
}
.prizeimg {
  width: 131px;
  height: 140px;
}
.noprizeimg {
  width: 230px;
  height: 215px;
}
/*推广*/
.publicpop {
  display: none;
}
.publicpop .erweimaImg {
  width: 280px;
  height: 230px;
  margin: 0 auto;
  text-align: center;
  margin:10px auto;
}
.publicpop .downWrap {
  width: 280px;
  text-align: center;
}
.publicpop .downWrap img {
  display: inline-block;
  margin: 20px 10px;
  cursor: pointer;
}


.indexright {
  margin-left: 30px;
}
.pagenotice {
  width: 955px;
  font-size: 34px;
  font-weight: bold;
  color: #a2a2a2;
  text-align: center;
  padding: 50px 0;
}
.circle {
  display: block;
  width: 94px;
  height: 94px;
  line-height: 94px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  background: #8fc0f1;
}
.circle:hover {
  color: #fff;
}
.yellowcircle {
  color: #a2a2a2;
  background: #fed251;
}
.yellowcircle:hover {
  color: #a2a2a2;
}
.jiantou1 {
  width: 94px;
  padding: 15px 0;
}
.jiantou1 img {
  display: block;
  margin: 0 auto;
}
.jiantou11 {
  padding: 5px 0;
}
.phonewrap {
  width: 94px;
  text-align: center;
}
.phonewrap img {
  display: block;
}
.phonewrap .phoneimg {
  width: 62px;
  height: 128px;
  line-height: 128px;
  font-size: 14px;
  color: #a2a2a2;
  margin: 0 auto;
  background: url(../images/phone.jpg) center no-repeat;
}
.forwidth {
  width: 215px;
  text-align: center;
}
.widthtext {
  width: 215px;
  text-align: center;
  font-size: 18px;
  color: #a2a2a2;
}
.rightjiantouwrap {
  line-height: 94px;
}
.rightjiantouwrap .sright {
  margin: 30px 10px 30px 10px;
}
.readonly{
  background-color:#f2f2f2;
}
/*页面错误提醒*/
.errorwrap {
  padding-top: 100px;
}
.errorwrap img {
  display: block;
  margin: 0 auto;
}
.errorwrap .backindex {
  display: block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #38a0df;
  margin: 15px auto;
}

/*咨询消息新页面*/
.tablenotice {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.exampletable {
  width: 600px;
  font-size: 14px;
}
.exampletable tr td {
  padding: 10px 0;
}
.exampletable tr td:first-child {
  width: 130px;
}
.exampletable .inputs {
  width: 850px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.channelBtn{
  background-color: #f4645f!important;
  padding-left: 35px!important;
  padding-right: 35px!important;
}
/*VIP升级页面样式*/
.levelul li {
  float: left;
  width: 370px;
  text-align: center;
  padding: 80px 20px 20px 20px;
  margin-top: 30px;
  box-shadow: 0px 0px 20px 2px rgba(74, 92, 130, 0.16);
}
.levelul li:nth-child(2n) {
  margin-left: 50px;
  margin-right: 50px;
}
.levelul li .toptext {
  font-size: 22px;
  color: #6F8E95;
  line-height: 30px;
}
.levelul li .levelbtn {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #FFF;
  border: 1px solid #6F8E95;
  background-color: #6F8E95;
  border-radius: 5px;
  margin-top: 15px;
}
.levelul li .level2 {
  color: #00C151;
}
.levelul li .level2btn {
  background-color: #00C151;
  border-color: #00C151;
}
.levelul li .lipswrap {
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
}
.levelul li .lipswrap .lip {
  font-size: 14px;
  line-height: 25px;
  color: #A8ACB9;
  padding-bottom: 5px;
}
.levelul li .lipswrap .lip:last-child {
  padding-bottom: 0;
}
.levelul li .lipswrap .lip p {
  max-width: 90%;
  text-align: left;
}
.levelul li .level3 {
  color: #00B1B5;
}
.levelul li .level3btn {
  background-color: #00B1B5;
  border: none;
}
.levelul li .level3inner {
  font-size: 14px;
  color: #A8ACB9;
  padding: 60px 0;
}
.levelul li .level3inner .level3left {
  width: 48px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 10px;
}
.levelul li .level3inner .level3right {
  border-left: 1px solid #A8ACB9;
  padding-left: 14px;
  margin-left: 10px;
}
.levelul li .level3inner .level3right p {
  text-align: left;
  font-size: 18px;
  line-height: 40px;
  color: #00B1B5;
}
.levelul li .level3inner .level3right span {
  display: block;
  text-align: left;
  line-height: 40px;
}
.levelul .li3 {
  background: url(../images/tips.png) center top no-repeat;
}
/**close**/
.uploadImg span img {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}

@media (max-width: 1000px){
  .levelul li:nth-child(2n){
    margin-left: 0;
  }
}
